$backgroundColor: rgb(236, 168, 160);
$DisplayColor: #77abff;
$BodyColor: #f36d4b;
$FontFamily: DSEG14ClassicRegular;
$digitsColor: #bbcde9;
$borderRadius: 7px;
$buttonColor: rgb(63, 30, 30);
$buttonTextColor: beige;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
}

