div#calc-display {
  background-color: $DisplayColor;
  font-family: $FontFamily;
  font-size: 1.5em;
  text-align: right;
  margin-bottom: 15px;
  border-radius: $borderRadius;
  

  div {
    word-wrap: break-word;
    line-height: 1.6;
    width: 400px;
    padding: 10px;
    min-height: 60px;
    color: white;
    border-radius: $borderRadius;
    box-shadow: inset 0 0 10px #0000D1;
  }

  #operations-display {
    border-bottom: 1px solid #000;
    
  }
}
